<div class="row col-12">
        {{> sidebar}}
        <div class="col-lg-10 col-md-10 col-8">
            {{> header}}

<div>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
                <p>
                asdadsads
                </p>
            </div>


    </div>
    {{> footer}}
</div>