<div class="row">
    <div class="col-lg-2 col-md-2 col-4 min-vh-100 bg-light ">
        <div class="d-flex flex-column p-3 text-dark min-vh-100">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              <span class="fs-4">Sidebar</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                  Home
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                  Dashboard
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                  Orders
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                  Products
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                  Customers
                </a>
              </li>
            </ul>
            
          </div>
    </div>
    <div class="col-lg-10 col-md-10 col-8">
        {{> header}}
        <div>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
            <p>
              asdadsads
            </p>
        </div>
    </div>
</div>


