@import 'variables';

.postmess{
    background-color: $gray-200;
}

.options:hover
{
    background-color: $gray-200;
}

.option1:hover
{
    background-color: $gray-300;
}

.setborder
{
    border-color: $gray-300;
}

.textlink
{
    text-decoration: none;
}

.textlink:hover
{
    text-decoration: underline;
}